@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&family=Fugaz+One&display=swap') layer(base);
@import 'tailwindcss';

:root {
  --color-cream: #fafaf2;
  --color-orange: #dd9255;
  --color-dark-blue: #2d3844;
}

body {
  background-color: var(--color-cream);
  color: var(--color-dark-blue);
}

.font-fugaz {
  font-family: 'Fugaz One', cursive;
}
